<section>
  <form fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="1rem" #f="ngForm" (ngSubmit)="onSubmit(f)">
    <mat-form-field>
      <input
        type="text"
        matInput
        placeholder="Ime"
        name="ime"
        ngModel
        required
        #imeInput="ngModel"
      >
      <mat-error *ngIf="imeInput.hasError('required')">Polje ne sme da bude prazno</mat-error>
    </mat-form-field>

    <mat-form-field>
      <input
        type="text"
        matInput
        placeholder="Prezime"
        name="prezime"
        ngModel
        required
        #prezimeInput="ngModel"
      >
      <mat-error *ngIf="prezimeInput.hasError('required')">Polje ne sme da bude prazno</mat-error>
    </mat-form-field>

    <mat-form-field>
      <input
        type="email"
        matInput
        placeholder="Email"
        name="email"
        ngModel
        required
        #emailInput="ngModel"
      >
      <mat-error *ngIf="emailInput.hasError('required')">Polje ne sme da bude prazno</mat-error>
    </mat-form-field>

    <mat-form-field>
      <input
        type="text"
        matInput
        placeholder="Korisničko ime"
        name="username"
        ngModel
        required
        #usernameInput="ngModel"
        minlength="5"
      >
      <mat-error *ngIf="usernameInput.hasError('required')">Polje ne sme da bude prazno</mat-error>
      <mat-error *ngIf="usernameInput.hasError('minlength')">Minimum 5 karaktera</mat-error>
      <mat-hint align="end">{{ usernameInput.value?.length }} / 5</mat-hint>
    </mat-form-field>

    <mat-form-field>
      <input
        type="password"
        matInput
        placeholder="Lozinka"
        name="password"
        ngModel
        required
        #passInput="ngModel"
        minlength="8"
      >
      <mat-error *ngIf="passInput.hasError('required')">Polje ne sme da bude prazno</mat-error>
      <mat-error *ngIf="passInput.hasError('minlength')">Minimum 8 karaktera</mat-error>
      <mat-hint align="end">{{ passInput.value?.length }} / 8</mat-hint>
    </mat-form-field>


    <mat-checkbox color="warm" ngModel name="acceptance" required fxLayoutAlign="center center">
      Prihvatam uslove korišćenja.
    </mat-checkbox>

    <button type="submit" mat-raised-button color="primary"  [disabled]="f.invalid">Submit</button>
  </form>
</section>

